{% extends "registration/base.html" %}
{% block content %}

<div class="container login_page">
  {% if form.errors %}
  <p>Логин или пароль неверные</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Имя или</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Логин</label>
    <input type="text" name="username" class="form-control" placeholder="Введите логин">
    {% comment %} <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> {% endcomment %}
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Пароль">
  </div>

  <button type="submit" class="btn btn-primary">Войти</button>
</form>
</div>

{% endblock %}