{% load static %}
<html>
    <head>
        <title>Orekhov to-do list</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="{% static 'css/blog.css' %}"> -->
        <link rel="stylesheet" href="../../static/css/blog.css">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,700&display=swap" rel="stylesheet">

    </head>
<body>
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<a class="navbar-brand text-white" href="/"><i class="fa fa-graduation-cap fa-lg mr-2"></i>Orekhov to-do list</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse" aria-controls="nvbCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="nvbCollapse">
				<ul class="navbar-nav ml-auto">

                    {% if user.is_authenticated %}
                    <li class="nav-item pl-1"> 
                        <li class="nav-link">Привет, {{ user.get_username }}</li>
                        <a class="nav-link" href="{% url 'post_new' %}">Новый пост</a>
                    </li>
					<li class="nav-item pl-1">
						<a class="nav-link" href="/admin"><i class="fa fa-home fa-fw mr-1"></i>Панель управления</a>
                        <li class="nav-item pl-1"><a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Выйти</a></li>   
					</li>
                    {% else %}
					<li class="nav-item pl-1">
						<a class="nav-link" href="{% url 'login'%}?next={{request.path}}"><i class="fa fa-th-list fa-fw mr-1"></i>Вход</a>
					</li>
                    <li class="nav-item active pl-1">
						<a class="nav-link" href="{% url "signup"%}"><i class="fa fa-th-list fa-fw mr-1"></i>Регистрация</a>
					</li>
                    {% endif%}
                    <li class="nav-item pl-1">
						<a class="nav-link" href="{% url 'complite'%}?next={{request.path}}"><i class="fa fa-th-list fa-fw mr-1"></i>Выполненные задачи</a>
					</li>
                    <li class="nav-item pl-1">
						<a class="nav-link" href="{% url 'post_list'%}?next={{request.path}}"><i class="fa fa-th-list fa-fw mr-1"></i>Задачи в работе</a>
					</li>

				</ul>
			</div>
		</div>
	</nav>
    </div>
    <div class="jumbotron">
        <div class="container">
        <h1>Hello, world!</h1>
        <p>Потоки информации льются всё быстрее, увеличивается количество источников: соцсети, email, RSS-ленты, блоги, газеты  «Metro» и «Вечерняя Москва». Когда этим добром начинает капитально затапливать, появляется проблема с концентрацией, силой воли и вниманием. Под завалами могут потонуть задачи, планы на день, обязательства. <br>Это приложение подходит для быстрых заметок, есть возможность привязать задачу к календарю(можно установить «срок до») и предоставить к ней доступ другому пользователю.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>
