{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="card post_item">
            <div class="card-header">
              {{ post.title }}
            </div>
            <div class="card-body {% if post.deadline < now and compile_post is True %} red {% else %}green{% endif%} "
              <p class="card-text">{{ post.text}}</p>
              <p class="card-text">Дата создания: {{ post.created_date}}</p>
              <p class="card-text">Дэдлайн: {{ post.deadline}}</p>
              <p class="card-text">Создатель: {{ post.author }} </p>
              <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-primary">Редактировать</a>
              <a href="#" class="btn btn-primary">Выполненно</a>

            </div>
          </div>
    {% endfor %}
{% endblock %}