{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="container">
<h1>Создать задачу</h1>
<form action="" method="post">
	{%csrf_token %}
  <div class="form-group">
    <label for="exampleFormControlInput1">Заголовок</label>
    <input type="text" required class="form-control" name="title" id="exampleFormControlInput" value='{{ post.title }}'>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Описание задачи</label> 
    <textarea class="form-control" required name="text" id="exampleFormControlTextarea1" rows="3">{{ post.text }}</textarea>
  </div>
<div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" name ='deadline' data-date-format="DD.MM.YYYY HH:mm"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>  <div class="form-group">
    <button type="submit" class="btn btn-primary mt-3">Отправить</button>
  </div>


</form>
</div>

 
{% endblock %}